/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;

  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  quotes: none;

  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Core styles */
html, body {
  font-family: 'Raleway', sans-serif;

}

h2 {
  margin: 10px 0 20px;

  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 32px;
  color: #2d2d2d;
}

h3 {
  margin: 10px 0;

  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #2d2d2d;
}

p {
  margin: 0 0 20px;

  line-height: 24px;
}

.container {
  margin-right: 2rem!important;
  margin-left: 2rem!important;
}

.text-center {
  text-align: center;
}

.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-text {
  p:last-child {
    margin-bottom: 0;
  }
}

form {
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px 15px;

    font-family: inherit;
    font-size: 13px;
    color: inherit;
    -webkit-font-smoothing: antialiased!important;
    font-smoothing: antialiased!important;

    background: #ffffff;
    outline: none!important;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;

    transition: all 0.25s;
  }

  input.form__input,
  textarea.form__textarea {
    margin-bottom: 20px;

    &.error {
      border-color: red;
    }
  }
}

.button {
  padding: 10px 20px;
  border: none;

  color: white;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #aa0501;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);

  transition: .3s ease-out;

  &:focus {
    outline:0;
  }

  &:hover {
    background-color: #bd0501;
    cursor: pointer;
  }

  &:disabled {
    background-color: #c5c5c5;
    box-shadow: none;
    cursor: not-allowed;
  }
}

@media (min-width: 750px) {
  .container {
    margin-right: auto!important;
    margin-left: auto!important;
  }
}